{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static '/css3-simple-tab/css/normalize.css'%}">
    <link rel="stylesheet" href="{%static '/css3-simple-tab/css/style.css'%}" media="screen" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{%static '/dist/css/bootstrap.min.css'%}">

    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="{%static '/dist/jquery-3.4.1.js'%}"></script>

    <link href="{%static '/dist/css/layoutit.css'%}" rel="stylesheet">
    <link href="{%static '/dist/css/bootstrap-combined.min.css'%}" rel="stylesheet">
    <script src="{%static '/css3-simple-tab/js/jquery.js'%}"></script>
    <script src="{%static '/css3-simple-tab/js/index.js'%}"></script>
{#    <script src="{%static '/js/load.js'%}"></script>#}
    <script src="{%static '/js/loadStructure.js'%}"></script>
    <script src="{%static '/js/submit.js'%}"></script>
    <script src="{%static '/js/tools.js'%}"></script>
    <script type="text/javascript" src="{%static '/js/chosen.jquery.min.js'%}"></script>
    <script type="text/javascript" src="{%static '/js/chosen.jquery.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{%static '/css/chosen.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static '/css/chosen.css'%}">

    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="http://cdn.bootcss.com/typeahead.js/0.11.1/typeahead.bundle.js"></script>
   <link href="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">指标</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">疾病</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    症状
                </li>
            </ul>
            <div class="row-fluid">
                <div class="span4">
                    <span class="label badge-success">已完成：</span>
                    &thinsp;
                    <u id="finishedNumber"></u>
                    <span>/</span>
                    <u id="all"></u>
                    &emsp;&emsp;
                    <span class="label badge-warning">待完成：</span>
                    &thinsp;
                    <u id="unfinishNumber"></u>
                    &emsp;&emsp;
                    <span class="label">存疑：</span>
                    &thinsp;
                    <u id="doubt"></u>
                    <span id="userName" style="float: right"></span>
                </div>

                <div  class="span4">

                    <div style="float: right" class="form-search" id="search_form">
                        <input type="search"  id='searchBox' class="input-medium search-query"  autocomplete="off" onkeyup="showHint(this.value)" type="text" style="width: 180px;height: 30px"/>
                        <button class="btn" type="button" onclick="searchItem()">查找</button>
                        <div id="hint"  style="display:none;width:200px;position: absolute;background-color: #9acfea; border:1px solid #ccc;"></div>
                    </div>

                </div>

                <div class="span2">
                    <select id="sel">
                        <option value="finished">已完成</option>
                        <option value="unfinish">未完成</option>
                        <option value="unsure">存疑</option>
                    </select>
                </div>
                <div class="span2" id="outdiv" onmouseleave="hideAll()" onmouseenter="showAll(this)">
                    <button class="btn" style="width: 100%" >全部数据</button>
                    <div id="allItem"  style="overflow-y:auto; height:400px; float:left;z-index:9999;display:none; width:210px;position: absolute;background-color: #9acfea; border:1px solid #ccc;"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <!--            <h5 >指标名称：</h5>-->
                <h5 id="itemName"></h5>
            </div>
        </div>
    </div>
</div>

<figure class="tabBlock"  >
    <ul class="tabBlock-tabs" id="tabs">

    </ul>
    <div  class="tabBlock-content" id="contents">
    </div>
</figure>

<script>
    loadTab();//初始化导航栏名称

    getUserInfo();
    loadStru();
</script>

</body>
</html>